@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

  
.body {
  display: flex;
  justify-content: space-between;
}

.landing-page{
    padding: 65px 0 0 120px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 23px;
  margin-bottom: 100px;
  width: 170px;
}

.logo img{
    height: 30px;
}


.content h2{
color: #14274E;
font-size: 27px;
font-family: 'Poppins', sans-serif;
font-weight: 700;
margin-bottom: -12px;
}

.content h1{
    color: #14274E;
    font-size: 44px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 57px;
    }

.content p{
    color: rgba(155, 164, 180, 1);
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 53px;
}


.image {
    height: 430px;
    margin-right:10px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 420px;
}

.login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 200px;
    border: none;
height:63px;
border-radius: 15px;
background-color: rgba(20, 39, 78, 1);
color: white;
font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.triangle3{
    height: 15px;
    margin-top: 2px;
    opacity: 1;
}
.triangle2{
    height: 15px;
    margin-top: 2px;
    opacity: 0.7;
}
.triangle1{
    height: 15px;
    margin-top: 2px;
    opacity: 0.4;
}


